<ion-view view-title="forgotpassword" align-title="left">
    <ion-content>
        <div class="style-forgotpassword">
            <div class="hero flat style-margin-top">
                <div class="content">
                    <h1 class="title-app style-position-header-title">Passwort zurücksetzen</h1>
                    <p class="center desc">Ihnen wird in den nächsten Minuten eine Email geschickt. Folgen Sie die in der Email beschriebenen Schritte mit denen Sie ihr Passwort zurücksetzen können.</p>
                </div>
            </div>
            <div class="list style-margin-bottom-decrease">

                <label class="item item-input item-floating-label item-icon-left style-padding-left">
                    <span class="input-label royal">Email</span>
                    <input class="style-color-items" type="email" placeholder="Email">
                    <i class="icon mdi-communication-email style-align-icon-to-input"></i> 
                </label>

            </div>

            <div class="row ">
                <button class="button button button-block button-royal"> Jetzt zurücksetzen </button> 
            </div>


            <div class="row style-position-relative">
                <div class="col-50"><button ng-click="gotoLogin()" class="col-30 button button-small button-clear button-calm style-position-back-login" >Login</button></div>
                <div class="col-50 style-float-right"><button ng-click="gotoRegistration()" class="col-30 button button-small button-clear button-calm style-position-back-login" >Registrieren</button></div>
            </div>


        </div>
    </ion-content>
</ion-view>
