<div class="style-modal-agreement">
	  <ion-modal-view>
	 <!-- <ion-header-bar>
	      <i class="zmdi zmdi-thumb-up"></i>
	      <h1 class="title">My Modal title</h1>
	    </ion-header-bar> -->
	    <ion-content>
	      <div class="modal-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
	    </ion-content>

		<ion-footer-bar align-title="left" class="bar-light row">
		  <div class="buttons col-80">
		     <input type="checkbox" id="modal-agreement-registration" ng-model="modalAcceptCheckbox"/>
		      <label for="modal-agreement-registration" class="style-checkbox-font">Ich akzeptiere die 
		        <a class="waves-effect waves-light modal-trigger" >AGB's</a>
		      </label>
		  </div>

		  <div class="buttons col-20 style-button-group-right" >
		    
		    <i ng-click="yesAction()" class="style-small-link style-position-left  button-small button-clear balanced "><span>Ich stimme zu</span></i>

		    <i ng-click="noAction()" class="style-small-link style-position-right  button-small  button-clear assertive "><span>ich stimme nicht zu</span></i>

		  </div>
		</ion-footer-bar>
	</ion-modal-view>

</div>

